
.forecast-container {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  padding: 20px;
  border-radius: 10px;
}
  
  .forecast-title {
    text-align: center;
    margin-top: 0;
  }
  
  .forecast-widgets {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .widget-container {
    display: flex;
    width: calc(100% - 40px);
    margin: 0 auto;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  .widget-container button {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px 20px;
    background: rgb(244, 219, 251);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .widget-container button.active {
    background-color: #333;
    color: #fff;
  }
  
  .forecast-details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    grid-gap: 20px;
  }
  
  .day {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .day-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .day-details img {
    max-width: 50px;
    margin-bottom: 10px;
  }
  
  .high,
  .low,
  .condition {
    margin: 0;
    font-weight: bold;
  }
  
  .high {
    color: #FF0000;
  }
  
  .low {
    color: #0000FF;
  }
  
  .condition {
    font-style: italic;
  }
  

/* Media Querys */

/* Mobile-friendly styles */
@media (max-width: 767px) {
  .forecast-container {
    padding: 10px;
  }

  .widget-container {
    width: 100%;
    flex-wrap: wrap;
    /* Adjust grid-template-columns for smaller screens */
    grid-template-columns: repeat(2, 1fr);
  }

  .day-details img {
    max-width: 30px;
  }

  /* Decrease button sizes and text for mobiles */
  .city-btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .next-city {
    font-size: 12px;
    padding: 5px 10px;
  }
}

/* iPad and desktop styles */
@media (min-width: 768px) {
  .forecast-container {
    max-width: 940px;
  }

  .forecast-details {
    grid-template-columns: repeat(3, 1fr);
  }

  .day-details img {
    max-width: 40px;
  }

  /* Reset button sizes and text for iPad and desktop */
  .city-btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .next-city {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* iPad styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .forecast-container {
    max-width: 720px;
  }

  .forecast-details {
    grid-template-columns: repeat(2, 1fr);
  }

  .day-details img {
    max-width: 35px;
  }
}

/* Larger screen styles */
@media (min-width: 1024px) {
  .forecast-container {
    max-width: 940px;
  }

  .forecast-details {
    grid-template-columns: repeat(3, 1fr);
  }

  .day-details img {
    max-width: 40px;
  }
}